<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/img/ps-logo.png"
      alt="Playstation logo"
      width="140px"
      height="32px"
      >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a  href="https://www.linkedin.com/in/vctorcarreras/"  target="_blank">LINKEDIN</a>
      </li>
      <li>
        <a href="https://www.youtube.com/@_victorcarreras/featured" target="_blank">YOUTUBE</a>
      </li>
      <li>
        <a href="https://github.com/carrerasvictor" target="_blank">GITHUB</a>
      </li>
    </ul>
  </div>
</div>
