<div class="home__container">

  <app-card
  gameCover="assets/img/bt-5.jpg"
  gameLabel="EXCLUSIVE"
  gameType="It's okay right?"
  gamePrice="US$ 89,90"

  >
</app-card>
<app-card
  gameCover="assets/img/bt-4.jpg"
  gameLabel="DIGITAL"
  gameType="One of the bests!"
  gamePrice="US$ 79,90"

  >
</app-card>
<app-card
  gameCover="assets/img/bt-bad-company-2.jpg"
  gameLabel="OLD BUT GOLD"
  gameType="Good memories!"
  gamePrice="US$ 39,90"

  >
</app-card>
<app-card
  gameCover="assets/img/bt-hardline.jpg"
  gameLabel="SALE"
  gameType="don't miss the offer"
  gamePrice="US$ 29,90"
  >
</app-card>
<app-card
  gameCover="assets/img/rust-cover.jpg"
  gameLabel="DIGITAL"
  gameType="Best game Ever!"
  gamePrice="US$ 190,90"

  >
</app-card>
<app-card
  gameCover="assets/img/GOW-3-cover.jpg"
  gameLabel="OLD BUT GOLD"
  gameType="Good memories!"
  gamePrice="US$ 39,90"

  >
</app-card>
<app-card
  gameCover="assets/img/GOW_Ragnarök_cover.jpg"
  gameLabel="SALE"
  gameType="don't miss the offer"
  gamePrice="US$ 89,90"
  >
</app-card>
<app-card
  gameCover="assets/img/ac-cover.jpg"
  gameLabel="SALE"
  gameType="don't miss the offer"
  gamePrice="US$ 49,90"
  >
</app-card>
</div>
